header{
	position: relative;
	background-size: cover;
	background-position: center;
	height: 720px;
	.opacity{
		background: rgba(0, 0, 0, 0.3);
		height: 720px;
		.top{
			padding: 1.5rem 1rem;
			display: flex;
			height: 100px;
			.left{
				display: flex;
				align-items: center;
				img{width: 250px;}
			}
			.right-desktop{
				width: 100%;
				display: flex;
				flex-direction: column;
			}
			.right-mobile{display: none;}
		}
	}
}