
header{
	position: relative;
	background-image: url('../img/header.jpg');
	background-size: cover;
	background-position: center;
	height: 720px;
	.opacity{
		background: rgba(0, 0, 0, 0.3);
		height: 720px;
		.top{
			padding: 1.5rem 1rem;
			display: flex;
			height: 100px;
			.left{img{width: 250px;}}
			.right-desktop{
				width: 100%;
				display: flex;
				flex-direction: column;
				.social-networks{
					display: flex;
					height: 50%;
					justify-content: flex-end;
					a{
						text-decoration: none;
						font-size: 20px;
						color: #393939;
						&:hover{
							color: #FFF;
						}
						div{
							display: flex;
							background-color: #FFF;
							border-radius: 25px;
							width: 40px;
							height: 40px;
							justify-content: center;
							align-items: center;
							margin: 0 5px;
						}
					}
				}
			}
			.right-mobile{display: none;}
		}
		.bottom{
			height: 650px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin: 0 1rem;
			h1,p{
				margin: 1rem 0;
				color: #FFF;
			}
			h1{font-size: 52px;}
			p{font-size: 28px; text-align: center; font-weight: 300;}
		}
	}
}

@media(max-width: 1200px){
	header{
		.opacity{
			.top{
				height: 50px;
				.left{img{width: 150px;}}
				.right-desktop{display: none;}
				.right-mobile{
					font-size: 30px;
					display: flex;
					width: 100%;
					justify-content: flex-end;
					align-items: center;
					a{color: #FFF;}
				}
			}
			.bottom{
				text-align: center;
				h1{font-size: calc(1.5em + 1vw);}
				p{font-size: calc(.5em + 1vw);}
			}
		}
	}
}