body{
	margin: 0; 
	background-color: #FFFFFF;
	font-family: 'Raleway', sans-serif !important;
	//Animations
	button,li{
		&:hover{
			transition-property: all;
  		transition-duration: .25s;
  		transition-timing-function: ease-in;
			cursor: pointer;
			a{
				transition-property: all;
  			transition-duration: .25s;
  			transition-timing-function: ease-in;
			}
		}
	}
	//Hovers
	button{
		outline: none;
	}
	//Lists
	ul{
		list-style: none;
		margin: 0;
		padding: 0;
		li{
			a{
				text-decoration: none;
				&:hover{
					color: #D70030;
				}
			}
		}
	}
}
/*Appear navbar animation*/
.appear-1{
	-webkit-animation-name: appear1;
  -webkit-animation-duration: 1.5s;
  animation-name: appear-1;
	animation-duration: 1.5s;
}
@-webkit-keyframes appear-1 {from {opacity: 0}to {opacity: 1}}
@keyframes appear-1 {from {opacity: 0} to {opacity: 1}}