body {
  margin: 0;
  background-color: #FFFFFF;
  font-family: "Raleway", sans-serif !important;
}
body button:hover, body li:hover {
  transition-property: all;
  transition-duration: 0.25s;
  transition-timing-function: ease-in;
  cursor: pointer;
}
body button:hover a, body li:hover a {
  transition-property: all;
  transition-duration: 0.25s;
  transition-timing-function: ease-in;
}
body button {
  outline: none;
}
body ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
body ul li a {
  text-decoration: none;
}
body ul li a:hover {
  color: #D70030;
}

/*Appear navbar animation*/
.appear-1 {
  -webkit-animation-name: appear1;
  -webkit-animation-duration: 1.5s;
  animation-name: appear-1;
  animation-duration: 1.5s;
}

@-webkit-keyframes appear-1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes appear-1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
header {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 720px;
}
header .opacity {
  background: rgba(0, 0, 0, 0.3);
  height: 720px;
}
header .opacity .top {
  padding: 1.5rem 1rem;
  display: flex;
  height: 100px;
}
header .opacity .top .left {
  display: flex;
  align-items: center;
}
header .opacity .top .left img {
  width: 250px;
}
header .opacity .top .right-desktop {
  width: 100%;
  display: flex;
  flex-direction: column;
}
header .opacity .top .right-mobile {
  display: none;
}

.generic-1 {
  display: flex;
}

@media (max-width: 1199px) {
  .generic-1 {
    flex-direction: column;
  }
}
.generic-2 {
  margin: 1rem 0;
}
.generic-2 .title {
  margin: 0 1rem;
}
.generic-2 .title h2 {
  font-size: 30px;
}
.generic-2 .title .center-triangle {
  display: flex;
  align-items: center;
}
.generic-2 .title .triangle {
  width: 0;
  height: 0;
  border-top: 20px solid #A8D4F2;
  border-right: 40px solid transparent;
  margin-right: 1rem;
}
.generic-2 .title, .generic-2 .content {
  display: flex;
}

@media (max-width: 1199px) {
  .generic-2 .title h2 {
    font-size: 22px;
  }
  .generic-2 .content {
    flex-direction: column;
  }
}
.events {
  background-color: #F5F5F5;
}
.events .elements {
  padding: 0 1rem;
  overflow: auto;
  white-space: nowrap;
  background-color: #F5F5F5;
}
.events .elements .event {
  display: inline-block;
  margin: 2rem;
  margin-top: 0;
}

footer {
  background-color: #393939;
  display: flex;
  padding: 1rem;
}
footer .left, footer .center, footer .right {
  height: 150px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
footer .left, footer .right {
  width: 25%;
}
footer .center {
  width: 50%;
  display: flex;
  align-items: center;
}
footer .right {
  align-items: flex-end;
}
footer .right h6 {
  margin: 0.5rem 0;
  font-size: 18px;
}
footer .right h6, footer .right a {
  color: #fff;
}

.nav-social-networks-header, .nav-social-networks-footer {
  display: flex;
}
.nav-social-networks-header ul, .nav-social-networks-footer ul {
  display: flex;
  align-items: center;
}
.nav-social-networks-header ul li, .nav-social-networks-footer ul li {
  display: flex;
  background-color: #FFF;
  border-radius: 25px;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
}
.nav-social-networks-header ul li a, .nav-social-networks-footer ul li a {
  font-size: 20px;
  color: #393939;
}
.nav-social-networks-header ul li a:hover, .nav-social-networks-footer ul li a:hover {
  color: #FFF;
}
.nav-social-networks-header ul li:hover a, .nav-social-networks-footer ul li:hover a {
  color: #FFF;
}
.nav-social-networks-header ul .menu-item-37:hover, .nav-social-networks-footer ul .menu-item-37:hover {
  background-color: #FF0000 !important;
}
.nav-social-networks-header ul .menu-item-54:hover, .nav-social-networks-footer ul .menu-item-54:hover {
  background-color: #E2609C !important;
}
.nav-social-networks-header ul .menu-item-53:hover, .nav-social-networks-footer ul .menu-item-53:hover {
  background-color: #0574E7;
}

.nav-social-networks-header {
  height: 50%;
  justify-content: flex-end;
}

.nav-main {
  display: flex;
  height: 50%;
  align-items: center;
}
.nav-main ul {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.nav-main li {
  margin: 0 0.5rem;
}
.nav-main li a {
  color: #FFF;
  font-size: 20px;
  font-weight: 300;
  font-size: 20px;
}
.nav-main li :hover {
  color: #D70030;
}

.nav-contact {
  margin: 1rem 0.5rem;
}
.nav-contact ul li {
  margin: 0.5rem 0;
}
.nav-contact ul li a {
  color: #FFF;
}
.nav-contact ul li a .m {
  margin-right: 1rem;
}

.nav-interest-sites ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.nav-interest-sites ul li {
  margin: 0.25rem 0;
}

.exercise {
  margin: 1rem;
  display: flex;
  align-items: flex-end;
  height: 400px;
  box-shadow: 2px 2px 2px #999;
  background-repeat: no-repeat, repeat;
  background-size: cover;
  background-position: center;
}
.exercise .information {
  height: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.exercise .information h3, .exercise .information p, .exercise .information button {
  color: #fff;
}
.exercise .information h3, .exercise .information p, .exercise .information button {
  margin-left: 1rem !important;
  margin-right: 1rem !important;
}
.exercise .information h3 {
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 20px;
}
.exercise .information p {
  font-size: 20px;
  font-weight: 300;
}
.exercise .information button {
  margin: 20px;
  width: 200px;
  height: 40px;
  font-weight: bold;
  background-color: #2374AB;
  border-radius: 10px;
  border-width: 0;
  font-size: 20px;
}

.exercise-1 {
  background-image: url("../img/prueba.png");
}

.exercise-2 {
  background-image: url("../img/exercise-2.png");
}

@media (max-width: 1199px) {
  .information {
    width: 100%;
  }
}
@media (max-width: 800px) {
  .exercise .information h3 {
    font-size: 18px;
  }
  .exercise .information p {
    font-size: 16px;
  }
  .exercise .information button {
    font-size: 16px;
  }
}
@media (max-width: 400px) {
  .exercise h3 {
    margin-bottom: 10px !important;
  }
}
.event {
  height: 400px;
  border-radius: 10px;
  box-shadow: 0px 2px 0px #999;
  background-color: white;
}
.event .img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 200px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-size: cover;
}
.event .img .tag {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 150px;
  background-color: #FF7474;
  color: #fff;
  font-weight: lighter;
  font-size: 10px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.event .information {
  display: flex;
  flex-direction: column;
  height: 200px;
  white-space: normal;
}
.event .information h4, .event .information div {
  margin: 1rem;
}
.event .information p {
  margin: 0 1rem;
}
.event .information div {
  text-align: right;
}
.event .information div a {
  text-transform: uppercase;
  color: #D50000;
  text-decoration: none;
}

.blog {
  display: flex;
  height: 300px;
  margin: 1rem;
  margin-top: 0;
}
.blog div {
  width: 50%;
}
.blog .img {
  background-image: url("../img/blog.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.blog .information {
  margin: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.blog .information .up {
  height: 280px;
  width: 100%;
}
.blog .information h6 {
  font-size: 14px;
  margin: 0;
  color: #ADADAD;
}
.blog .information p {
  font-size: 18px;
  color: #363636;
  margin: 1rem 0;
}
.blog .information button {
  display: flex;
  padding: 0rem;
  width: 100%;
  background: none;
  border: none;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
}
.blog .information button div {
  width: 98%;
}

@media (max-width: 1199px) {
  .blog {
    height: 450px;
    flex-direction: column;
  }
  .blog .img, .blog .information {
    width: 100%;
    height: 50%;
  }
  .blog .information {
    margin: 1rem 0;
  }
  .blog button {
    padding-right: 1rem !important;
  }
}

/*# sourceMappingURL=main.css.map */
