.featured-site{
	margin: 1rem;
	display: flex;
	align-items: flex-end;
	height: 400px;
	width: 50%;
	box-shadow: 2px 2px 2px #999;
	background-size: cover;
	background-position: center;
	.information{
		height: 50%;
		background-color: rgba(0,0,0,0.5);
		display: flex;
		flex-direction: column;
		h3,p,button{ display: flex; color: #fff; margin: 0; align-items: center;}
		h3{height: 30px; margin-top: 20px;}
		p{height: 70px; margin: 10px 0;}
		h3,p,button{margin-left: 1rem!important; margin-right: 1rem!important;}
		h3{font-size: 24px; font-weight: 800;}
		p{font-size: 20px; font-weight:300;}
		button{
			justify-content: center;
			width: 200px;
			height: 40px;
			font-weight: bold;
			background-color: #2374AB;
			border-radius: 10px;
			border-width: 0;
			font-size: 20px;
			&:hover{
				background-color: #239FFF;
			}
		}
	}
}