nav,.container-nav{
	display: flex;
	width: 100%;
	ul{
		li{
			a{
				text-decoration: none;
				color: #FFF;
				font-size: 20px;
				font-weight: 300;
				transition-property: all;
  			transition-duration: .5s;
  			transition-timing-function: ease-in;
			}
		}
	}
}

.nav-desktop{
	height: 50%;
	align-items: flex-end;
	ul{
		margin: 0;
		width: 100%;
		text-align: end;
		li{
			display: inline;
			margin: 0 1rem;
			:hover{
				color: #D70030;
			}
			a{
				font-size: 20px;
			}
		}
	}
}

.navbar-desktop-fixed{
	display: none;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #393939;
	height: 100px;
	justify-content: flex-end;
	.left{margin-left: 1rem;img{height: 70px;}}
	.div-ul{width: 100%;}
	div{
		display: flex;
		justify-content: flex-end;
		align-items: center;
		height: 100%;
		ul{
			margin: 0;
			padding: 0;
			display: flex;
			align-items: center;
			li{
				display: inline;
				margin: 0 1rem;
				:hover{
					color: #D70030;
				}
				a{
					font-size: 20px;
				}
				.button{
					display: inline-flex;
					justify-content: center;
					align-items: center;
					background: #2374AB;
					border-radius: 5px;
					width: 130px;
					height: 50px;
					&:hover{
						transition-property: all;
  					transition-duration: .5s;
  					transition-timing-function: ease-in;
						opacity: .8;
					}
				}
			}
		}
	}
}

.nav-mobile{
	display: none;
	height: 720px;
	position: fixed;
	z-index: 1;
	color: #FFF;
	div{
		text-align: end;
		padding: 1.5rem 1rem;
		padding-bottom: 0;
		font-size: 30px;
	}
	background-color: #393939;//fixed and mobile
	flex-direction: column;
	ul{
		margin: 0;
		padding: 1rem 1rem;
		list-style: none;
		li{
			margin: 2.5rem 0;
			a{
				font-size: 30px;
			}
		}
		.li-top{margin-top: 0;}
		.li-bottom{margin-bottom: 0;}
	}
}
.navbar-mobile-fixed{
	display: none;
	background-color: #393939;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	height: 100px;
	justify-content: flex-end;
	.left{margin-left: 1rem; img{width: 150px;}}
	.right{width: 100%; color: #FFF;a{margin: 0 1rem; font-size: 30px;}}
	div{
		display: flex;
		justify-content: flex-end;
		align-items: center;
		height: 100%;
	}
}

@media(max-width: 1200px){
	.nav-desktop,.navbar-desktop-fixed{
		display: none;
	}
}